<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.ittalents.daos">
	</context:component-scan>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"></property>
		<property name="url" value="jdbc:derby:C:\\Users\\Emil\\MyDB;create=true"></property>
		<property name="password" value="ittalents"></property>
		<property name="username" value="ittalents"></property>
	</bean>

	<bean id="restaurant" class="com.ittalents.pojos.Restaurant">
		<property name="name" value="My Java Restaurant"></property>
		<property name="ownerName" value="Krasi Stoev"></property>
	</bean>
	
	
	<bean id="admin" class="com.ittalents.pojos.Admin">
		<property name="fName" value="Krasimir"></property>
		<property name="username" value="the_reaver"></property>
		<property name="password" value="letmein"></property>
		<property name="lName" value="Stoev"></property>
		<property name="email" value="tsvetelin.kulinski@gmail.com"></property>
	</bean>
</beans>
